ht-page-choose-user {

  .ht-margin-top {
    margin-top: 1.8rem;
  }

  .ht-line {
    border-top: 0.1rem solid #fff;
    padding-top: 3.5rem;
  }

  @include media-breakpoint-down('lg') {
    .content, .content-md, form .item-input {
      background-color: transparent;
    }
  }
}
