page-choose-user {

  h1 {
    text-align: center;
  }

  button {
    margin: 1.8rem 0;
  }

  .ht-sign-up, .ht-existing-user {
    padding: 0 1.8rem;
  }

  .ht-existing-user {
    border-top: 0.1rem solid #fff;
    padding-top: 0.8rem;
  }
}
