.page-home {

  .ht-section-welcome {
    text-align: center;
  }

  .ht-section-ux-explanation {


    h2, h5, p {
      color: $colour-text-quaternary;
      text-align: center;
    }

    h5 {
      margin: 1rem 0;
    }

    h6 {
      color: $colour-text-quaternary;
      margin-top: 0.4rem;
      margin-bottom: 0.9rem;
    }

    .message {
      padding: 1.6rem 1.8rem 0.8rem;
    }

    .explanation {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 1rem;

      .icon {
        height: 4rem;
        width: 4rem;
      }

      .text {
        margin-left: 1.5rem;
      }

      &:last-child {
        padding-bottom: 2.4rem;
      }
    }
  }

  .ht-section-profile {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;

    .details {
      margin: 2rem;

      h1, h5 {
        margin: 0;
      }
    }
  }

  .ht-section-devices {
    h2, h5 {
      margin: 0;
    }

    .device {
      border-left: 0.2rem solid $colour-background-quaternary;
      padding-bottom: 1rem;
      padding-left: 1.4rem;
      margin-left: 2rem;
      position: relative;

      .bullet-point {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 0px;
        left: -11px;
      }
    }
  }
}
