<app-header></app-header>

<ion-content class="page-home" padding>
  <ion-grid >
    <ion-row>
      <ion-col>

        <section class="ht-section-welcome">
          <h1>{{'WELCOME_MESSAGE' | translate}} {{appName}}, {{user.username}}</h1>
          <p>{{'WELCOME_MESSAGE_SUBTEXT' | translate}}</p>
        </section>

      </ion-col>
    </ion-row>

    <section class="ht-section-ux-explanation ht-card-info">
      <ion-row>
        <ion-col col-12 col-md class="message">
            <h2>{{'USER_EXPERIENCE_MESSAGE' | translate}}</h2>
            <h5>{{'USER_EXPERIENCE_MESSAGE_SUBTEXT' | translate}}</h5>
        </ion-col>
        <ion-col class="explanation" col-12 col-md>
          <img class="icon" src="/assets/icon/lock-icon.svg">
          <h6 class="text">{{'USER_EXPERIENCE_EXPLANATION_1' | translate}}</h6>
        </ion-col>
        <ion-col class="explanation" col-12 col-md>
          <img class="icon" src="/assets/icon/screen-icon.svg">
          <h6 class="text">{{'USER_EXPERIENCE_EXPLANATION_2' | translate}}</h6>
        </ion-col>
        <ion-col class="explanation" col-12 col-md>
          <img class="icon" src="/assets/icon/refresh-lock-icon.svg">
          <h6 class="text">{{'USER_EXPERIENCE_EXPLANATION_3' | translate}}</h6>
        </ion-col>
        <ion-col class="explanation" col-12 col-md>
          <img class="icon" src="/assets/icon/key-in-phone-icon.svg">
          <h6 class="text">{{'USER_EXPERIENCE_EXPLANATION_4' | translate}}</h6>
        </ion-col>
      </ion-row>
    </section>

    <ion-row>
      <ion-col>

          <h3><ion-icon name="person" class="icon-left-aligned"></ion-icon>{{'ABOUT_YOU' | translate}}</h3>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>{{'USERNAME' | translate}}</td>
              <td class="word-break">{{user.username}}</td>
            </tr>
            <tr>
              <td>{{'EMAIL' | translate}}</td>
              <td class="word-break">{{user.email}}</td>
            </tr>
          </tbody>
        </table>

        <h3><ion-icon name="phone-portrait" class="icon-left-aligned"></ion-icon>{{'YOUR_DEVICES' | translate}}</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>{{'NAME' | translate}}</td>
              <td>{{'LAST_LOGIN' | translate}}</td>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let device of user.devices">
              <td>{{device.deviceName}} <ng-container *ngIf="device.deviceUuid === thisDeviceUuid">(this device)</ng-container></td>
              <td>{{device.lastLogin * 1000 | date:'short'}}</td>
            </tr>
          </tbody>
        </table>

        <h3><ion-icon name="lock" class="icon-left-aligned"></ion-icon>{{'YOUR_SECURITY' | translate}}</h3>
        <section class="section">
          <h5>{{'AUTHENTICATION_KEY' | translate}}</h5>
          <p>{{'AUTHENTICATION_KEY_EXPLANATION' | translate}}</p>
          <button ion-button type="button" (click)='showAuthKey();'>{{'SHOW' | translate}}</button>
        </section>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

