<app-header></app-header>

<ion-content class="page-home" padding>
  <ion-grid >
    <ion-row>
      <ion-col>

        <div class="ht-section-welcome">
          <h1>{{'WELCOME_MESSAGE' | translate}} {{appName}}, {{user.username}}</h1>
          <p>{{'WELCOME_MESSAGE_SUBTEXT' | translate}}</p>
        </div>

        <h3><ion-icon name="heart" class="icon-left-aligned"></ion-icon>{{'YOUR_USER_EXPERIENCE' | translate}}</h3>
        <section class="section">
          <p>{{'4_DIGIT_PIN_EXPLANATION_HEADER' | translate}}:</p>
          <ul>
            <li>{{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_1A' | translate}} <span class="text-highlight">{{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_1B' | translate}}</span>, {{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_1C' | translate}}</li>
            <li>{{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_2A' | translate}} <span class="text-highlight">{{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_2B' | translate}}</span> {{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_2C' | translate}}</li>
            <li>{{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_3A' | translate}} <span class="text-highlight">{{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_3B' | translate}}</span>. {{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_3C' | translate}}</li>
            <li>{{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_4A' | translate}} <span class="text-highlight">{{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_4B' | translate}}</span>, {{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_4C' | translate}} <span class="text-highlight">{{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_4D' | translate}}</span>, {{'4_DIGIT_PIN_EXPLANATION_ARGUMENT_4E' | translate}}</li>
          </ul>
        </section>

        <h3><ion-icon name="person" class="icon-left-aligned"></ion-icon>{{'ABOUT_YOU' | translate}}</h3>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>{{'USERNAME' | translate}}</td>
              <td class="word-break">{{user.username}}</td>
            </tr>
            <tr>
              <td>{{'EMAIL' | translate}}</td>
              <td class="word-break">{{user.email}}</td>
            </tr>
          </tbody>
        </table>

        <h3><ion-icon name="phone-portrait" class="icon-left-aligned"></ion-icon>{{'YOUR_DEVICES' | translate}}</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>{{'NAME' | translate}}</td>
              <td>{{'LAST_LOGIN' | translate}}</td>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let device of user.devices">
              <td>{{device.deviceName}} <ng-container *ngIf="device.deviceUuid === thisDeviceUuid">(this device)</ng-container></td>
              <td>{{device.lastLogin * 1000 | date:'short'}}</td>
            </tr>
          </tbody>
        </table>

        <h3><ion-icon name="lock" class="icon-left-aligned"></ion-icon>{{'YOUR_SECURITY' | translate}}</h3>
        <section class="section">
          <h5>{{'AUTHENTICATION_KEY' | translate}}</h5>
          <p>{{'AUTHENTICATION_KEY_EXPLANATION' | translate}}</p>
          <button ion-button type="button" (click)='showAuthKey();'>{{'SHOW' | translate}}</button>
        </section>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

