form {
  margin: 2rem 0 1.6rem;

  .text-input {
    color: $colour-text-primary;
    padding-left: 1rem;
  }

  .item-input {
    margin-bottom: 1.6rem;
  }
}

.pin-label {
  color: $label-md-text-color;
  font-size: 1.2rem;
  margin: 3rem 0 0;
}

// Ionic class overwrites
.item-ios {
  padding-left: 0;
}
