.ht-header {
  border-top: 2px solid $colour-background-tertiary;
  display: flex;
  align-items: center;
  flex-direction: row;

  .ht-header-item {
    flex: 1;
    padding: 0 1rem;

    &:nth-child(1){
      text-align: left;
    }
    &:nth-child(2){
      text-align: center;
    }
    &:nth-child(3){
      text-align: right;
    }
  }

  .toolbar {
    padding: 0;
    min-height: 0;
  }

  &.header-md::after {
    background-image: none;
  }
}
