// Pushes the page content below the header
.fixed-content, .scroll-content {
  margin-top: 4.4rem;

  @include media-breakpoint-up('md') {
    margin-top: 5.6rem;
  }
}

.col-fixed {
  width: 33rem;
}

.page-margin {
  @include media-breakpoint-up('md') {
    margin-top: 15rem;
  }
}
