.app-root {
  background-color: $colour-background-secondary;
}

.ion-page {

  @include media-breakpoint-up('xl') {
    width: 65rem;
    float: right;
    position: relative;
  }
}

ht-page-home.ion-page {

  @include media-breakpoint-up('xl') {
    float: none;
    width: 102.4rem;
    margin: 0 auto;
  }
}

// Pushes the page content below the header
.fixed-content, .scroll-content {
  margin-top: 4.4rem;

  @include media-breakpoint-up('md') {
    margin-top: 5.6rem;
  }
}


.page-margin {
  @include media-breakpoint-up('md') {
    margin-top: 15rem;
  }
}

li {
  margin-bottom: 1rem;
}

.ht-page-narrow {
  padding: 0 1.8rem;

  h1, h5, h3 {
    text-align: center;
  }
}
