.table {
  width: 100%;

  thead {

    tr {
      background-color: $colour-background-primary;
      color: $colour-text-primary;
    }
  }

  tbody {

    tr {
      &:nth-child(odd) {
        background-color: $colour-background-primary;
      }

      &:nth-child(even) {
        background-color: $colour-background-primary;
      }
    }
  }

  td {
    padding: 1.5rem;
  }
}
