.table {
  width: 100%;

  thead {

    tr {
      background-color: $colour-primary-light;
      color: $text-color;
    }
  }

  tbody {

    tr {
      &:nth-child(odd) {
        background-color: $colour-primary-xlight;
      }

      &:nth-child(even) {
        background-color: $colour-primary-xxlight;
      }
    }
  }

  td {
    padding: 1.5rem;
  }
}
