html {
  @include media-breakpoint-up('md') {
    // Creates a base font of 16px
    font-size: 71.4287%;
  }
}

h3 {
  margin-top: 6rem;
}

.word-break {
  word-break: break-all;
}

.text-highlight {
  color: $colour-secondary;
  font-weight: 500;
}
