html {
  @font-face {
    font-family: "Avenir Next";
    src: url($font-path + "/AvenirNextLTPro-Regular.otf") format("opentype");
  }

  body, span, button, h1, h2, h3, h4, h5, h6 {
    font-family: "Avenir Next", "Helvetica Neue", sans-serif !important;
  }

  @include media-breakpoint-up('md') {
    /*
       Mobile base font size is 14px with the html tag font-size set to 62.5%, so 1.4rem = 14px;
       For Desktop we increase the base font to 16px, now the html tag font-size is set to 71.4287%, so 1.4rem = 16px;
       It is recommended to design mobile first to make your calculations easier.
    */

    // Creates a base font of 16px
    font-size: 71.4287%;
  }
}

// Font weights
$bold-medium:  500;
$bold-demi:    600;

h1 {
  color: $colour-text-primary;
  font-size: 2.8rem;
  font-weight: $bold-demi;
  line-height: 3.8rem;
  margin: 0 0 2rem;
}

h2 {
  color: $colour-text-primary;
  font-size: 1.6rem;
  font-weight: $bold-demi;
  line-height: 2.2rem;
  margin: 0 0 1rem;
}

h3 {
  color: $colour-text-primary;
  font-size: 1.4rem;
  font-weight: $bold-medium;
  line-height: 1.9rem;
  margin: 0 0 2rem;
}

h5 {
  color: $colour-text-primary;
  font-size: 1.2rem;
  font-weight: $bold-medium;
  line-height: 1.6rem;
  margin: 0 0 1rem;
}

h6 {
  color: $colour-text-primary;
  font-size: 1rem;
  font-weight: $bold-medium;
  line-height: 1.4rem;
  margin: 0 0 1rem;
}

p {
  color: $colour-text-primary;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

a {
  color: $colour-action-primary;
  text-decoration: none;
}

button {
  color: $colour-text-quaternary;
  font-size: 1.6rem;
  font-weight: $bold-demi;
  letter-spacing: 0.17rem;
  line-height: 2.2rem;
  text-transform: uppercase;
}

.ht-title {
  color: $colour-text-tertiary;
  font-size: 1.4rem;
  font-weight: $bold-demi;
  letter-spacing: 0.1rem;
  line-height: 1.9rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.ht-text-small {
  color: $colour-text-primary;
  font-size: 1rem;
  line-height: 1.4rem;
}

.label {
  color: $colour-text-primary;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

input::placeholder {
  font-style: italic;
}

.word-break {
  word-break: break-all;
}

.text-highlight {
  color: $colour-text-primary;
  font-weight: 500;
}

// Ionic class overwrites
.item-select {
  color: $colour-text-primary;
}

.alert-title, alert-radio-label, .alert-ios [aria-checked=true] .alert-radio-label, .alert-sub-title {
  color: $colour-text-quaternary;
}

.alert-ios [aria-checked=true] .alert-radio-inner {
  border-color: $colour-text-quaternary;
}
