<div class="pin-input">
    <input type="password" id="pinInput1" onfocus="this.value = '';" class="pin-item" maxlength="1" [(ngModel)]="pin1" (focus)="doKeydown1()" (keyup)="update($event)" placeholder=""/>
    <input type="password" id="pinInput2" onfocus="this.value = '';" class="pin-item" maxlength="1" [(ngModel)]="pin2" (focus)="doKeydown2()" (keyup)="update($event)"/>
    <input type="password" id="pinInput3" onfocus="this.value = '';" class="pin-item" maxlength="1" [(ngModel)]="pin3" (focus)="doKeydown3()" (keyup)="update($event)"/>
    <input type="password" id="pinInput4" onfocus="this.value = '';" class="pin-item" maxlength="1" [(ngModel)]="pin4" (focus)="doKeydown4()" (keyup)="update($event)"/>
</div>
