.ht-header {
  border-top: 2px solid $colour-background-tertiary;
  text-align: center;
  position: relative;

  .ht-bt-menu {
    position: absolute;
    top: .9rem;
    right: 0;
  }

  .toolbar {
    padding: 0;
    min-height: 0;
  }

  &.header-md::after {
    background-image: none;
  }
}
